<div>
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="#!">Blood Donations Clinic</a>
            <a class="btn btn-primary" style="align-self: right;" href="userProfile">User profile</a>
        </div>
    </nav>
</div>

<div style="margin-left: 10px; margin-right: 10px;">
<app-blood-banks-list></app-blood-banks-list>
</div>

<div style="margin-top: 20px; margin-left: 10px;">
    <button mat-raised-button (click)="bloodDonorForm()">Blood Donor Form</button>
</div>