<div class="bgimage">
  <div class="row">
    <form [formGroup]="registerUserForm">

      <div class="column">

        <div class="field">
          <label>Email:</label>
          <input type="text" required placeholder="example@email.com" formControlName="email">
        </div>
        
        <div class="field">
          <label>Password:</label>
          <input required type="password" formControlName="password">
        </div>
        
        <div class="field">
          <label>Confirm password:</label>
          <input required type="password" formControlName="confirmPassword">
        </div>

        <div *ngIf="passwordMatchError" class="warning">
          Password does not match!
        </div>
        
        <div class="field">
          <label>Name:</label>
          <input type="text" required formControlName="name">
        </div>
        
        <div class="field"> 
          <label>Surname:</label>
          <input type="text" required formControlName="surname">
        </div>
        
        <div class="field"> 
          <label>Street name:</label>
          <input type="text" required formControlName="street">
        </div>
        
        <div class="field">
          <label>Street number:</label>
          <input type="text" required formControlName="number">
        </div>

      </div>

      <div class="column">
      
        <div class="field">
          <label>City:</label>
          <input type="text" required formControlName="city" >
        </div>
            
        <div class="field">
          <label>Country:</label>
          <input type="text" required formControlName="state" >
        </div>
          
        <div class="field">
          <label>Phone number:</label>
          <input type="text" required placeholder="xxxxxxxxxx" formControlName="phoneNumber">
        </div>
              
        <div class="field">
          <label>JMBG:</label>
          <input type="text" required placeholder="xxxxxxxxxxxxx" formControlName="jmbg">
        </div>
               
        <div class="field">
          <label>Gender:  </label>
          <input required type="radio" id="male" name="gender" value="male">
          <label for="male">Male</label>
          <input required type="radio" id="female" name="gender" value="female">
          <label for="female">Female</label>
        </div>
            
        <div class="field">
          <label>Occupation:</label>
          <input type="text" required formControlName="occupation">
        </div>
         
        <div class="field">
          <label>Establishment information:</label>
          <input type="text" required formControlName="establishmentInfo">
        </div>
         
        <div><button class="regbutton" [disabled]="!registerUserForm.valid" (click)="submit()">Register</button></div>
      </div>

    </form>
  </div>
</div>   
  
  

