.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
    margin-bottom: 16px;
}

.form {
    justify-content: center;
    align-items: center;
    height: 1100px;
    padding: 20px;
    width: 320px;
    background-color: rgb(233, 229, 229);
    margin: auto;
}