<h1> Register: </h1>

  <section>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input placeholder="example@email.com" matInput>
    </mat-form-field>
  </section>

  <section>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput>
    </mat-form-field>
  </section>

  <section>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput>
    </mat-form-field>
  </section>

  <section>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput>
    </mat-form-field>
  </section>

  <section>
    <mat-form-field appearance="fill">
      <mat-label>Surname</mat-label>
      <input matInput>
    </mat-form-field>
  </section>
  
    <mat-form-field appearance="fill">
      <mat-label>Address</mat-label>
      <input matInput>
    </mat-form-field>
  
  
    <mat-form-field appearance="fill">
      <mat-label>City</mat-label>
      <input matInput>
    </mat-form-field>
 
  
    <mat-form-field appearance="fill">
      <mat-label>Country</mat-label>
      <input matInput>
    </mat-form-field>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Telephone number</mat-label>
        <input placeholder="ex: 065123456" matInput>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field appearance="fill">
        <mat-label>JMBG</mat-label>
        <input matInput>
      </mat-form-field>
    </section>

    <mat-label>Gender:  </mat-label><br>
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1">Male</mat-radio-button>
      <mat-radio-button value="2">Female</mat-radio-button>
      <mat-radio-button value="3">Other</mat-radio-button>
    </mat-radio-group>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Occupation</mat-label>
        <input matInput>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Company/Univeristy/School information</mat-label>
        <input matInput>
      </mat-form-field>
    </section>

    
  
  

