table {
  margin: 0 auto;
  border-collapse: collapse;
  border-style: hidden;
  /*Remove all the outside
  borders of the existing table*/
}
table td {
  padding: 0.5rem;
  border: 5px solid orange;
}
table th {
  padding: 0.5rem;
  border: 5px solid ForestGreen;
}
button {
  background-color: #32CD32; /* Lime Green */
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  width: 15%;
}

input[type=text], select {
  width: 15%;
  padding: 15px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.header {
  padding: 30px;
  text-align: center;
  background: #32CD32;
  color: rgb(18, 17, 17);
  font-size: 30px;
}
div {
  background-color: #7DF9FF;
}
.center {
  margin: auto;
  width: 12%;
  padding: 30px;
}


