<div class="bgimage">
   
        <nav class="navbar navbar-dark bg-dark static-top">
            <div class="container">
                <a class="navbar-brand" href="#!">Blood Donations Clinic</a>
                <button class="buttons" (click)="userProfile()">User profile</button>
                <button class="buttons" (click)="bloodDonorForm()">Blood Donor Form</button>
                <button class="buttons" (click)="logout()">Logout</button>
            </div>
        </nav>
    

    <div class="wtable">
        <app-blood-banks-list></app-blood-banks-list>
    </div>

</div>