<div style="margin-top: 20px; margin-bottom: 20px; margin-left: 20px;">
    <h1>Izmena informacija centra:</h1>
</div>

<div style="margin-left: 20px;">
    <input type="text" [(ngModel)]="center.name" placeholder="Name">
    <input type="text" [(ngModel)]="center.country" placeholder="Country">
    <input type="text" [(ngModel)]="center.city" placeholder="City">
    <input type="text" [(ngModel)]="center.street" placeholder="Street">
    <input type="text" [(ngModel)]="center.number" placeholder="Number">
    <input type="text" [(ngModel)]="center.description" placeholder="Description">
    <button (click)="submit()">Submit</button>
</div>

<div style="margin-top: 20px; margin-bottom: 20px; margin-left: 20px;">
    <h1>Kreiranje slobodnih termina: </h1>
</div>

<div style="margin-left: 20px;">
    
</div>