<div class="bgimage">
  <div class="form">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        
          <div class="field">
            <label>Username: </label>
            <input type="text"  formControlName="email">
          </div>
          
          <div class="field">
            <label>Password: </label>
            <input type="password"  formControlName="password">
          </div>
          
      </form>

      <div class="buttons">
        <button class="logbutton" [disabled]="!loginForm.valid">Login</button>
        <div class="registerLink"> Don't have an account? </div>
        <div class="registerLink"><a href="http://localhost:4200/register"> Register here. </a></div>
      </div>
    </div>
</div>