.form {
    justify-content: center;
    align-items: center;
    height: 1100px;
    padding: 20px;
    width: 1000px;
    background-color: rgb(233, 229, 229);
    margin: auto;
}

mat-radio-button{
    margin: 3px;
}