<div class="bgimage">
  <section class="form">
    <h1 style="font-weight: bold;"> Упитник за даваоца крви или компоненти крви </h1>
      <section>
        <mat-label>1. Да ли имате мање од 50 килограма? </mat-label>
        <mat-radio-group aria-label="Select an option" [(ngModel)]="bloodDonorInfo.weight">
          <mat-radio-button value = true  name="yes">Да </mat-radio-button>
          <mat-radio-button value = false  name="no">Не</mat-radio-button>
        </mat-radio-group>
      </section>
      <section>
        <mat-label>2. Да ли имате икакве промјене на кожи? </mat-label>
        <mat-radio-group aria-label="Select an option" [(ngModel)]="bloodDonorInfo.skinIssues">
          <mat-radio-button value = true  name="yes">Да </mat-radio-button>
          <mat-radio-button value = false  name="no">Не</mat-radio-button>
        </mat-radio-group>
      </section>
      <section>
        <mat-label>3. Да ли се тренутно осећате здравим, способним и одморним да дате крв или компоненте крви?
        </mat-label>
        <mat-radio-group aria-label="Select an option" [(ngModel)]="bloodDonorInfo.feelHealthy">
          <mat-radio-button value = true  name="yes">Да </mat-radio-button>
          <mat-radio-button value = false  name="no">Не</mat-radio-button>
        </mat-radio-group>
      </section>
      <section>
        <mat-label>4. Да ли вам је притисак сувише висок или сувише низак?
        </mat-label>
        <mat-radio-group aria-label="Select an option" [(ngModel)]="bloodDonorInfo.bloodPressure">
          <mat-radio-button value = true  name="yes">Да </mat-radio-button>
          <mat-radio-button value = false name="no">Не</mat-radio-button>
        </mat-radio-group>
      </section>
      <section>
        <mat-label>5. Да ли имате менструацију тренутно?
        </mat-label>
        <mat-radio-group aria-label="Select an option" [(ngModel)]="bloodDonorInfo.menstruation">
          <mat-radio-button value = true  name="yes">Да </mat-radio-button>
          <mat-radio-button value = false name="no">Не</mat-radio-button>
        </mat-radio-group>
      </section>
      <section>
        <mat-label>6. Да ли је прошло 7 дана од вађења зуба или мањих стоматолошких интервенција?
        </mat-label>
        <mat-radio-group aria-label="Select an option" [(ngModel)]="bloodDonorInfo.toothOutLast7Days">
          <mat-radio-button value = true  name="yes">Да </mat-radio-button>
          <mat-radio-button value = false  name="no">Не</mat-radio-button>
        </mat-radio-group>
      </section>
      <section>
        <mat-label>7. Да ли је прошло најмање 7 дана од терапије антибиотицима?
        </mat-label>
        <mat-radio-group aria-label="Select an option" [(ngModel)]="bloodDonorInfo.takenMedicineInLast7Days">
          <mat-radio-button value = true  name="yes">Да </mat-radio-button>
          <mat-radio-button value = false  name="no">Не</mat-radio-button>
        </mat-radio-group>
      </section>
      <section>
        <mat-label>8. Да ли је прошло најмање 6 мјесеци од пробадања тијела и коже (пирсинг)?
        </mat-label>
        <mat-radio-group aria-label="Select an option" [(ngModel)]="bloodDonorInfo.piercingLast6Months">
          <mat-radio-button value = true  name="yes">Да </mat-radio-button>
          <mat-radio-button value = false  name="no">Не</mat-radio-button>
        </mat-radio-group>
      </section>
      <section>
        <mat-label>9. Да ли је прошло најмање 6 мјесеци од појединих хируршких интервенција и трансфузије крви?
        </mat-label>
        <mat-radio-group aria-label="Select an option" [(ngModel)]="bloodDonorInfo.operationOrTransfusionLast6Months">
          <mat-radio-button value = true  name="yes">Да </mat-radio-button>
          <mat-radio-button value = false  name="no">Не</mat-radio-button>
        </mat-radio-group>
      </section>
      <section>
        <mat-label>10. Да ли је прошло најмање 6 мјесеци од тетовирања?
        </mat-label>
        <mat-radio-group aria-label="Select an option" [(ngModel)]="bloodDonorInfo.tattooLast6Months">
          <mat-radio-button value = true  name="yes">Да </mat-radio-button>
          <mat-radio-button value = false name="no">Не</mat-radio-button>
        </mat-radio-group>
      </section>

      <br>
      <button class="buttons" style="float: right" (click)="submit()">Send</button>
    
  </section>
</div>
    
  
  

